* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
header {
    background-color: #a83a3a;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header h1 a {
    text-decoration: none;
    color: white;
}
nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
}
nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    text-decoration: underline;
}
.hero {
    height: 90vh;
    margin-bottom: 25px;
    background-image: url("../assets/images/kings-bluff-hero2.jpg");
    background-size: cover;
    background-position: bottom;
    background-color: rgb(129, 129, 129);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h2 {
    color: white;
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
}
.submit:hover{
    background-color: white;
    color: #a83a3a;
    border: #a83a3a solid 3px;
    transition: .5s;

}
h3 {
    text-align: center;
    font-size: 3rem;
    padding: 5rem 0 2rem;
}
.info-section {
    display: grid;
    grid-template-columns: 25% 60%;
    gap: 3rem;
    padding: 0 3rem;
}

.info-photo {
    width: 100%;
    justify-self: start;
}
.info-section figcaption {
    display: grid;
    justify-self: start;
    align-self: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(270px, 1fr));
    gap: 20px;
    padding: 1rem;
}
.gallery img {
    width: 100%;
}
.form {
    padding: 5rem 0;
}
form input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    border: 3px solid rgb(155, 155, 155);
}
.submit {
    margin-left: auto;
    margin-right: auto;
    background-color: #a83a3a;
    color: white;
    padding: 5px 10px;
    border: #a83a3a solid 3px;
}
.footer {
    background-color: #a83a3a;
    padding: 2rem 0;
    text-align: center;
}
